<div class="wrapper">
  <header class="header">
    <div class="header__logo">
      <a href="#" class="logo">
        <img src="./../assets/images/book3.png" alt="" class="logo__pic">
      </a>
    </div>
    <div class="container">
      <div class="header__menu">
        <ul class="menu">
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">афиша</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">тексты</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">медиа</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">git remote -v
              <span class="menu__link-text">общение</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">рейтинги</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">DVD & Blu-Ray</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">играть!</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="header__search">
        <ul class="search">
          <li class="search__item">
            <div class="text__search">все о любой книге</div>
          </li>
          <li class="search__item">
            <div class="field__search">
              <form action="" class="search__form">
                <input type="text" name="" id="" class="search__input" placeholder="Search">
              </form>
            </div>
          </li>
          <li class="search__item">
            <button class="button__search">
              Искать!
            </button>
          </li>
          <li class="search__item">
            <button class="button__search">
              <i class="fa fa-arrow-circle-o-right fa-1.5x search__submit" aria-hidden="true"></i>
            </button>
          </li>
        </ul>

      </div>
    </div>
  </header>
  <div class="empty"></div>
</div>


<footer class="footer">
  <div class="footer__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cupiditate dolore excepturi hic, ipsa, maiores nam nisi numquam optio porro, quibusdam quidem quisquam tempora vitae voluptatem? Blanditiis expedita nam repellendus!
  </div>
  <div class="footer__copyright">
    © 2003–2017  КиноПоиск • Книга жалоб и предложений • Условия использования сайта • 18+
  </div>
</footer>

