<div class="wrapper">
  <header class="header">
    <div class="header__logo">
      <a href="#" class="logo">
        <img src="./../assets/images/book3.png" alt="" class="logo__pic">
        КнигоПоиск
      </a>
    </div>
    <div class="container">
      <div class="header__menu">
        <ul class="menu">
          <li class="menu__item">
            <a href="#" class="menu__link" type="checkbox">
              <span class="menu__link-text">афиша</span>
              <i class="fa fa-caret-down menu__link-caret" aria-hidden="true"></i>
              <ul class="menu__link_table">
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">тексты</span>
              <i class="fa fa-caret-down menu__link-caret" aria-hidden="true"></i>
              <ul class="menu__link_table">
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">медиа</span>
              <i class="fa fa-caret-down menu__link-caret" aria-hidden="true"></i>
              <ul class="menu__link_table">
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">общение</span>
              <i class="fa fa-caret-down menu__link-caret" aria-hidden="true"></i>
              <ul class="menu__link_table">
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">рейтинги</span>
              <i class="fa fa-caret-down menu__link-caret" aria-hidden="true"></i>
              <ul class="menu__link_table">
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">DVD & Blu-Ray</span>
              <i class="fa fa-caret-down menu__link-caret" aria-hidden="true"></i>
              <ul class="menu__link_table">
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">
              <span class="menu__link-text">играть!</span>
              <i class="fa fa-caret-down menu__link-caret" aria-hidden="true"></i>
              <ul class="menu__link_table">
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
                <li class="menu__link_table__item">
                  <a href="#" class="menu__link_table__item_link">Lorem</a>
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
      <div class="header__search">
        <ul class="search">
          <li class="search__item">
            <div class="text__search">все о любой книге:</div>
          </li>
          <li class="search__item">
            <ul class="search__up">
              <li class="search__up_item">
                <a href="#" class="search__up_text_item">Войти на сайт</a>
              </li>
              <li class="search__up_item">
                <a href="#" class="search__up_text_item">Регистрация</a>
              </li>
              <li class="search__up_item">
                 <a href="#" class="search__up_text_item">зачем?</a>
              </li>
            </ul>
            <div class="search__field">
              <form action="" class="search__form">
                <input type="text" name="" id="" class="search__input" placeholder="Search">
              </form>
            </div>
            <ul class="search__down">
              <li class="search__down_item">
                <a href="#" class="search__down_text_item">расширенный поиск</a>
              </li>
              <li class="search__down_item">
                <a href="#" class="search__down_text_item ">что ищут?</a>
              </li>
            </ul>
          </li>
          <li class="search__item">
            <button class="button__search button_first">
              искать!
            </button>
          </li>
          <li class="search__item">
            <button class="button__search">
              <i class="fa fa-arrow-circle-o-right fa-1.5x search__submit" aria-hidden="true"></i>
            </button>
          </li>
        </ul>

      </div>
    </div>
  </header>
  <div class="empty"></div>
</div>


<footer class="footer">
  <ul class="footer__menu">
    <li class="menu__item">
      <div class="menu__item_head">Мобильные приложения</div>
      <ul class="item__list">
        <li class="item__list__item">
          <a href="#" class="item_link">iPhone & iPad</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Android</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Windows Phone</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Windows 8</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Игра: Угадай книгу!</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Мобильная версия</a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <div class="menu__item_head">КнигоПоиск в соцсетях</div>
      <ul class="item__list">
        <li class="item__list__item">
          <a href="#" class="item_link">Facebook</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Twitter</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">ВКонтакте</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Instagram</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Telegram</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Одноклассники</a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <div class="menu__item_head">Сервисы</div>
      <ul class="item__list">
        <li class="item__list__item">
          <a href="#" class="item_link">Вокруг КнигоПоиска</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">RSS</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Поисковые кнопки</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Книгопоиск.Mini</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Виджеты</a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <div class="menu__item_head">О сайте</div>
      <ul class="item__list">
        <li class="item__list__item">
          <a href="#" class="item_link">Главная страница</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">Реклама на сайте</a>
        </li>
        <li class="item__list__item">
          <a href="#" class="item_link">КнигоПоиск+</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="footer__copyright">
    <ul class="copyright__menu">
      <li class="copyright__item">
        <a href="" class="copyright_link">© 2003–2017</a>
      </li>
      <li class="copyright__item">
        <a href="" class="copyright_link">КнигоПоиск</a>
      </li>
      <li class="copyright__item">
        <a href="" class="copyright_link">Книга жалоб и предложений</a>
      </li>
      <li class="copyright__item">
        <a href="" class="copyright_link">Условия использования сайта</a>
      </li>
      <li class="copyright__item">
        <a href="" class="copyright_link">18+</a>
      </li>
    </ul>
  </div>
</footer>

